/* Selbst gehostete Schriften — keine Verbindung zu Google-Servern.
   Manrope (Mikhail Sharanda) für Überschriften, Inter (Rasmus Andersson) für Fließtext,
   beide SIL Open Font License 1.1. Bezogen über das npm-Paket @fontsource,
   Zeichensatz latin (enthält Umlaute, ß, „“, – und €). */

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/manrope-latin-600-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/manrope-latin-700-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/manrope-latin-800-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/inter-latin-400-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/inter-latin-500-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/inter-latin-600-normal.woff2) format('woff2');
}
